body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --front: rgb(255, 0, 0);
  --middle: black;
  --middle2: rgba(26, 20, 20, 0.082);
  --back: white;
  --border: rgb(36, 255, 36);
  --front-light: red;
  --middle-light: black;
  --back-light: white;
  --front-dark: black;
  --middle-dark: white;
  --back-dark: black;
}
