body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --front: rgb(35, 39, 245);
  --middle: black;
  --middle2: rgba(29, 18, 18, 0.11);
  --back: white;
  --back2: rgb(218, 218, 218);
  --border: rgb(97, 166, 255);

  --front-light: rgb(35, 39, 245);
  --middle-light: black;
  --middle2-light: rgba(29, 18, 18, 0.11);
  --back-light: white;
  --back2-light: rgb(218, 218, 218);
  --border-light: rgb(97, 166, 255);

  --front-dark: rgb(30, 255, 0);
  --middle-dark: rgb(119, 103, 209);
  --middle2-dark: rgba(26, 20, 20, 0.651);
  --back-dark: black;
  --border-dark: rgb(255, 36, 200);
  --back2-dark: rgb(31, 25, 25);

  --front-neon: rgb(255, 251, 0);
  --middle-neon: rgb(136, 24, 127);
  --middle2-neon: rgba(26, 20, 20, 0.082);
  --back-neon: rgb(12, 51, 49);
  --back2-neon: rgb(50, 146, 125);
  --border-neon: rgb(36, 255, 36);
}
body {
  background-color: var(--back);
}
* {
  transition: background-color 0.5s;
}
